<div style="background-color: lightgray; height:200px">
  Parent component
  <br>
  <button (click)="setColor('green')">Green</button>
  <button (click)="setColor('blue')">Blue</button>
  <br>
  <label>Output from child component : </label>{{recievedValue}}

  <!--The selected color is passed to input property backcolor -->
  <child-component [backColor]='selColor'> </child-component>

  <!--Child components send the value to the parent component using an event-->
  <child-component2 (ParametersChanged)="RecievedParameters($event)"></child-component2>

</div>