<!--In order to specify routes, you need to add routes collection in module
Please see the module file-->
<nav class="navbar navbar-default navbar-fixed-top"> 
  <div class="container-fluid">
    <div class="collapse navbar-collapse"> 
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current">
          <a [routerLink]="['products']">Products</a>   
        </li>
        <li routerLinkActive="active current">
          <a [routerLink]="['parameters/1/2']">Parameter</a>
        </li>
        <li routerLinkActive="active current">
          <a [routerLink]="['queryparameters']">Query Parameter</a> 
        </li>
      </ul>
    </div> 
  </div>
</nav>