<!--In a template driven form, all the validation rules are specified in html template-->

<!--#contact is the name of the form object created by ngForm-->
<form #contact = "ngForm" (ngSubmit)="submit(contact)">
  <!--The following field definition needs ngModel and set the name property. This will
  create a form control object with the name fullname. Custom validations can be
achieved by specifying custom directives in the field-->
  <div class="form-group"> 
    <label for="fullName">Full Name</label>
    <input 
     type="text" 
     id="fullName" 
     class="form-control" 
     ngModel
     name="fullName"
     #fullName = "ngModel"
     (change)="log(fullName)"
     minlength="3"
     required
     />
     <div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">
        <div *ngIf="fullName.errors.required">
            Full name is required.
          </div>
        <div *ngIf="fullName.errors.minlength">
            Full name should be minimum {{ fullName.errors.minlength.requiredLength }} characters.
          </div>
     </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea  ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input ngModel type="checkbox" name="isSubscribed"> Subscribe to mailing list
    </label>
  </div>
  <button class="btn btn-primary" [disabled] = "!contact.valid">Submit</button>
</form>

<p>
  {{ contact.value | json }}
</p>